
.sliderinfo{
    font-size: 20px;
    /* text-align: center; */
    position: absolute;
    left: 500px;
}
/* .ssbuttons {
    display: flex;
    justify-content: center;
} */
.ssbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.startstop, .restart, .randstart, .eraser{
    background-color: rgba(240, 248, 255, 0.57);
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 180px;
    height: 50px;
    font-size: 30px;
    margin: 20px;
    border-radius: 25px;
    border: dashed 3px black;
    font-weight: bold;

}
.randstart{
    width: 230px;
}
.neighborslider, .survivalslider, .framerateslider, .keydownshoots {
    width: 100%; /* Width of the outside container */
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  /* The slider itself */
  .neighborslider .slider,  .survivalslider .slider, .framerateslider .slider, .keydownshoots .slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 30%; /* Full-width */
    height: 30px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */

  }
  .neighborslider .slider::-webkit-slider-thumb,  .survivalslider .slider::-webkit-slider-thumb,
  .framerateslider .slider::-webkit-slider-thumb, .keydownshoots .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
  }
  .neighborslider p,  .survivalslider p, .framerateslider p, .nvalue, .svalue, .frvalue, 
  .colorscheme p,  .patternlist p, .keydowninstructions p, .keydownshoots p, .framerateslider .score, .keydownshoots .value{
    padding: 10px;
    font-size: 22px;
  }
  .neighborslider p,  .survivalslider p, .framerateslider p{
    margin: 0px;
  }
.resetneighbor2, .resetsurvival{
    /* this is for smaller butons - for slider */
    background-color: rgba(240, 248, 255, 0.57);
    text-align: center;
    box-sizing: border-box;
    width: 160px;
    height: 35px;
    font-size: 22px;
    margin: 20px 20px;
    border-radius: 25px;
    text-align: center;
    border: dashed 3px black;
    font-weight: bold;
}

.colorscheme, .patternlist, .keydowninstructions, .keydownshoots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.colorscheme p , .patternlist p, .keydowninstructions p, .keydownshoots p{
    margin-bottom: 0;
}
.keydowninstructions{
    justify-content: center;
}
.keydowninstructions div {
    margin: 10px;
    color: red;
    font-weight: bold;
}
.default{
    display:flex;
    margin: 10px 16px;
    justify-content: center;
    align-items: center;
}
.default div{
    width: 30px;
    height: 30px;
}
.default .fir{
    background-color: black;
    margin-left: 10px;
}
.default .sec{
    background-color: rgb(100, 100, 100);
    box-sizing: border-box;
    border: solid black 1px;
}
.default .thi{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: solid black 1px;
}
.colorful, .default, .patternlist div, .keydownshoots div{
    background-color: rgba(240, 248, 255, 0.57);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    font-size: 22px;
    margin: 10px 20px;
    border-radius: 25px;
    text-align: center;
    border: dashed 3px black;
    font-weight: bold;
}
.keydownshoots div{
    align-content: center;
}
.patternlist div{
    margin: 10px;
}

/* <div class="patternlist">Select patterns
<div>Hammerhead</div>
<div>Orthogonal ship</div>
<div>Bear</div>
</div> */